<div class="container">
  <div class="row">
    <h3 class="text-center">Donor Form</h3>
    
    <div class="col-md-6 col-md-offset-3">
      <%= flash[:notice] %>
      <div class="well">
        <%= form_for @contact do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %> 
          </div>
          
          <div class="form-group">
            <%= f.label :age %>
            <%= f.text_field :age, class: 'form-control' %> 
          </div>
          
          <div class="form-group">
            <%= f.label :sex %>
            <%= f.text_field :sex, class: 'form-control' %> 
          </div>
          
          <div class="form-group">
            <%= f.label :dob %>
            <%= f.text_field :dob, class: 'form-control' %> 
          </div>
          
          <div class="form-group">
            <%= f.label :fathers_name %>
            <%= f.text_field :fathers_name, class: 'form-control' %> 
          </div>
          
          <div class="form-group">
            <%= f.label :occupation %>
            <%= f.text_field :occupation, class: 'form-control' %> 
          </div>
          
          <div class="form-group">
            <%= f.label :organisation %>
            <%= f.text_field :organisation, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_area :address, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
         
          <%= f.submit "Submit", class: 'btn btn-default center-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
